html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Hiragino Kaku Gothic ProN";
}

/* .nav-bar */
.nav-bar {
  background-color: rgba(34,49,52,0.9);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 3;
}
  
.image-logo{
  padding-top: 20px;
}

.logo{
  width: 124px;
  padding-left: 12px;
}

.menu-icon {
  color: white;
  font-size: 25px;
  padding: 16px 0;
  display: none;
}

.right-bar {
  display: flex;
  list-style: none;
  flex-grow: 1;
  justify-content: flex-end;
}

.right-bar a {
  padding: 0 25px;
  color: white;
  transition: all 0.5s;
  cursor: pointer;
  height: 70px;
  line-height: 65px;
}

.right-bar a:hover {
  background-color: rgba(255,255,255,0.3);
}
/* end */

/* top */
.top-wrapper{
 background-image: url("https://github.com/yuta-hub/sample-progate/blob/master/background.png?raw=true");
 background-size: cover;
 padding: 180px 15px 100px 15px;
 height: 400px;
 color: white;
 text-align: center;
}

.container h1 {
  margin: 0;
  font-size: 45px;
  letter-spacing: 5px;
  opacity: 0.7;
}

.container p {
  opacity: 0.7;
}

.btn {
  padding: 8px 24px;
  text-decoration: none;
  color: white;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
}

.btn:hover {
  opacity: 1;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

i {
  margin-right: 5px;
}
/* end */

/* header */
.introduction {
  height: 550px;
  font-weight: normal;
  text-align: center;
  background-color: #f7f7f7;

}

.introduction > h1 {
  padding-top: 100px;
  padding-bottom: 80px;
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  color: #5f5d60;
}

.lessons {
  color: rgb(172, 161, 161);
  display: flex;
  justify-content: center;
}

.lesson {
  position: relative;
  width: 277px;
  height: 207px;
  margin-right: 0.5%;
}

.lesson-info {
  position: absolute;
  top: 33%;
  width: 100%;
  color: white;
  z-index: 2;
}

.text-contents {
  margin-top: 100px;
  font-size: 13px;
  color: #b3aeb5;
  
}
/* end */

/* message-wrapper */
.message-wrapper {
  border-bottom: 1px solid #eee;
  padding: 80px 0;

}

.heading {
  color: #5f5d60;
  text-align: center;
}


.copy{
  padding-bottom: 50px;
}

.heading h2 {
  font-weight: normal;
}

.heading h3 {
  font-weight: normal;
}

.message {
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0px 7px #1a7940;
  text-decoration: none;
  padding: 15px 40px;
}
/* end */

/* footer */

footer {
  padding: 30px 15px 20px 15px;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}
